@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf) format(truetype);
}

:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: calc(100vh - 1px);
  background-color: var(--off-black);
}

img{
  width: 100%;
  border-radius: 50%;
}

button{
  border: none;
  width: 80%;
  margin-bottom: 1.5rem;
  color: var(--white);
  font-weight: 600;
  background-color: var(--grey);
  padding: 5%;
  border-radius: 5px;
}

button:hover{
  background-color: var(--green);
  color: var(--off-black);
}

.align-content {
  display: flex;
  /*Align page content vartically and hotrizontally to the middle*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 14px;
  text-align: center;
}

section{
  margin-bottom: 1.5em;
}

@media (min-width: 500px) {
  .main {
    width: 450px;
    margin-bottom: 1.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  background-color: var(--dark-grey);
  color: var(--white);
  min-width: 300px;
  padding: 1.5em;
  border-radius: 15px;
}

.picture{
  width: 25%;
  height: 25%;
}

.profile-description{
  color: var(--white);
}

.caption h1{
  margin-bottom: 0.5em;
}

.caption p{
  font-weight: 800;
  color: var(--green);
}